Package: com.AD.repo.ad
Version: 1.0.2
Section: System系统
Maintainer: AD
Depends: firmware (>> 14.0), mobilesubstrate, preferenceloader
Architecture: iphoneos-arm64e
Name: AD Repo
Author: AD
Description: 添加 AD 的 發行版軟件源倉庫
 - 安裝完成後需要重啟一下 sileo 來刷新軟件源
