Package: jp2a
Maintainer: Procursus Team <support@procurs.us>
Architecture: iphoneos-arm64e
Version: 1.1.0
Depends: libiosexec1 (>= 1.2.2), libcurl4, libjpeg62-turbo, libncursesw6, libpng16-16
Section: Multimedia
Priority: optional
Description: converts jpg and png images to ascii
 Small utility that converts JPEG images to ASCII (text) using libjpeg. It
 also can convert PNG pictures to ASCII via libpng. jp2a is very flexible.
 It can use ANSI colors and html in output.
 .
 jp2a can also download and convert images from Internet via command line.
Installed-Size: 132
