Author: XsF1re, ichitaso, level3tjg, LF, AD
Maintainer: alias20, LF, AD
Package: vnodebypassnext
Name: vnodebypass-next
Depends: firmware (>= 15.0), firmware (<< 17.0), com.opa334.ccsupport, libkrw0-dopamine (>= 2.0)
Section: System系统
Architecture: iphoneos-arm64
Version: 0.4.5.2-Next
Icon: https://axs66.github.io/repo/icon/vnodebypass.png
SileoDepiction: https://raw.githubusercontent.com/ios-gm/ad/main/sileodepiction/vnodebypassnext/js.json
Description: Hide jailbreak traces and bypass detection mechanisms. Automatically configures paths and fixes post-removal issues. Compatible with Dopamine environment. Initial installation may take extra time due to path setup—please be patient! 隐藏越狱痕迹，绕过检测机制，自动配置路径，修复卸载残留问题。兼容 Dopamine 越狱环境，首次安装可能因路径配置稍有延迟，请耐心等待～(づ￣ 3￣)づ
  - 添加安装完成后重启SpringBoard弹窗的支持
